.add_work {
    .scan {
        width: 30%;
        margin-left: 15px;
        .input_img {
            width: 30px;
            height: 30px;
            background: #34BFC6;
            float: left;
            img {
                width: 20px;
                height: 20px;  
                margin: 5px;
            }
        }
        .input_right {
            width: calc(100% - 30px);
            float: right;
        }
    }
    .zll-form {
        border: 1px solid #aaaaaa;
        box-shadow: 0 0 5px #aaaaaa;
        background: #253846;
        margin: 15px;
        padding: 20px;
        border-radius: 5px;
        .title {
            color: #4bb9f9;
            font-weight: 400;
            display: inline-flex;
            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }
        .producting {
            background: #aaaaaa;
            height: 30px;
            line-height: 30px;
            width: 80px;
            border-radius: 15px;
            text-align: center;
            &.waitproduct {
                background: #67C23A;
            }
            &.inproduct {
                background: #E6A23C;
            }
        }
        .time {
            height: 30px;
            line-height: 30px;
        }
        .form_list {
            .demo-ruleForm {
                border: 1px solid #aaaaaa;
                margin-top: 40px;
                padding: 15px;
                border-radius: 10px;
                float: left;
                width: 80%;
                position: relative;
                .bm {
                    color: #4bb9f9;
                    font-size: 20px;
                    position: absolute;
                    top: -13px;
                    z-index: 111;
                    height: 26px;
                    line-height: 26px;
                    background: #253846;
                }
            }
            .button {
                float: right;
                width: 20%;
                min-height: 300px;
                display: flex;align-items: center;justify-content: center;
                span {
                    background: #67C23A;
                    width: 80px;
                    height: 80px;
                    border-radius: 40px;
                    display: inline-block;
                    padding: 19px;
                    text-align: center;
                    font-size: 18px;
                    cursor: pointer;
                    box-shadow: 0px 0px 10px #0094ff;
                    &.inproduct {
                        background: #E6A23C;
                    }
                }
            }
        }
    }
}
.ProductWork {
    .work_list {
        h2 {
            background: #34BFC6;
            font-size: 16px;
            font-weight: 400;
            height: 35px;
            line-height: 35px;
            padding: 0 20px;
        }
        .list_nav {
            background: #465561;
            padding: 20px;
            padding-left: 0;
            color: #ffffff;
            .list_nav_item {
                width: calc(100% - 100px);
                float: left;
                .item:nth-of-type(1){
                    border-left: 0;
                }
                .item {
                    width: 25%;
                    padding: 0 30px;
                    float: left;
                    border-left: 1px solid #aaaaaa;
                    p {
                        height: 28px;
                        line-height: 28px;
                        margin-bottom: 5px;
                        .name {
                            text-align: right;
                            width: 80px;
                            display: inline-block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .num {
                            color: #34BFC6;
                            text-align: left;
                            width: calc(100% - 90px);
                            display: inline-block;
                            margin-left: 10px;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                        }
                    }
                    .scan {
                        margin-bottom: 5px;
                        .input_img {
                            width: 60px;
                            height: 28px;
                            line-height: 28px;
                            background: #34BFC6;
                            text-align: center;
                            float: left;
                        }
                        .input_right {
                            width: calc(100% - 60px);
                            float: right;
                        }
                    }
                }
            }
            .button {
                width: 100px;
                text-align: right;
                height: 30px;
                line-height: 30px;
                cursor: pointer;
                float: left;
                span {
                    margin-top: 10px;
                    background: #3f9dd3;
                    color: #ffffff;
                    border-radius: 14px;
                    text-align: center;
                    display: inline-block;
                    padding: 0 10px;
                    width: 90px;
                    &:hover {
                        opacity: .8;
                        transition: all .3s;
                    }
                }
                .delete {
                    background: #fd6b6b;
                }
            }
        }
        .list_nav_last {
            border: 1px solid #465561;
            padding: 20px;
            table {
                width: 100%;
                border-collapse: collapse;
                text-align: center;
                th {
                    background: #a6a6a6;
                    color: #ffffff;
                    padding: 3px;
                    font-weight: normal;
                    height: 26px;
                    line-height: 26px;
                    border:1px solid #ffffff;
                }
                td {
                    padding: 3px;
                    height: 26px;
                    line-height: 26px;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                    border:1px solid #ffffff;
                }
                tr {
                    background: #F2F2F2;
                }
                .stage {
                    background: #a6a6a6;
                }
            }
        }
        .bottom {
            background: #465561;
            margin-top: 20px;
            padding: 20px;
            color: #ffffff;
            border: 1px solid #34BFC6;
            .bottom_list {
                width: calc(100% - 100px);
                float: left;
                .bottom_nav {
                    width: 33.3%;
                    float: left;
                    p {
                        height: 28px;
                        line-height: 28px;
                        margin-bottom: 5px;
                        .name {
                            text-align: right;
                            width: 80px;
                            display: inline-block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .num {
                            color: #34BFC6;
                            text-align: left;
                            width: calc(100% - 90px);
                            display: inline-block;
                            margin-left: 10px;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                        }
                    }
                    .left {
                        width: 100px;
                        float: left;
                        margin-top: 30px;
                        img {
                            width: 50px;
                            height: 50px;
                            cursor: pointer;
                        }
                    }
                    .right {
                        width: 100px;
                        float: left;    
                        margin-top: 20px;
                        .button {
                            background: #3f9dd3;
                            color: #ffffff;
                            border-radius: 14px;
                            text-align: center;
                            display: inline-block;
                            width: 90px;
                            height: 30px;
                            line-height: 30px;
                            cursor: pointer;
                            margin-top: 10px;
                            &:hover {
                                opacity: .8;
                                transition: all .3s;
                            }
                            &.delete {
                                background: #fd6b6b;
                            }
                            &.dabao {
                                background: #6fa7c7;
                            }
                            &.isClose {
                                background: #909399;
                                cursor: no-drop;
                            }
                        }
                    }
                }
            }
            .bottom_last {
                width: 100px;
                float: left;
                .dabao {
                    background: #6fa7c7;
                    color: #ffffff;
                    border-radius: 14px;
                    text-align: center;
                    display: inline-block;
                    width: 90px;
                    height: 30px;
                    line-height: 30px;
                    margin-top: 30px;
                    cursor: pointer;
                    &:hover {
                        opacity: .8;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}
.handover_dialog {
    .jiaojie {
        h1 {
            text-align: center;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .error {
            color: #fdff70;
            position: absolute;
            top: -23px;
            right: 10px;
        }
        .in_product {
            border: 1px solid #aaaaaa;
            padding: 30px 20px;
            border-radius: 10px;
            position: relative;
            min-height: 260px;
            img {
                width: 40px;
                height: 40px;
                position: absolute;
                background: #284358;
                top: -15px;
                left: -5px;
                z-index: 1000;
                padding: 5px;
            }
            .button {
                background: #E6A23C;
                border-radius: 14px;
                text-align: center;
                display: inline-block;
                width: 90px;
                height: 30px;
                line-height: 30px;
                position: absolute;
                top: -15px;
                left: 30%;
                &:hover {
                    opacity: .8;
                    transition: all .3s;
                }
            }
            p {
                height: 28px;
                line-height: 28px;
                margin-bottom: 5px;
                .name {
                    text-align: right;
                    width: 55px;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .num {
                    text-align: left;
                    width: calc(100% - 65px);
                    display: inline-block;
                    margin-left: 10px;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                }
            }
        }
        .person {
            border: 1px solid #aaaaaa;
            padding: 30px 20px;
            border-radius: 10px;
            min-height: 260px;
            .person_one {
                p {
                    text-align: right;
                    height: 30px;
                    line-height: 30px;
                    margin-bottom: 5px;
                }
            }
            .name {
                font-size: 18px;
            }
            .ID {
                margin-bottom: 15px;
                span {
                    width: 40px;
                    display: initial;
                }
                .input_right {
                    width: calc(100% - 40px); 
                }
            }
            .person_two {
                p {
                    text-align: left;
                    height: 30px;
                    line-height: 30px;
                    margin-bottom: 5px;
                    color: #34BFC6;
                }
            }
            .success {
                box-shadow: 0 0 10px #4bb9f9;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin: 0 auto;
                color: #4bb9f9;
                padding: 20px;
                text-align: center;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
            .hand {
                background: #34BFC6;
                border-radius: 14px;
                text-align: center;
                width: 90px;
                height: 30px;
                line-height: 30px;
                margin: 0 auto;
                margin-top: 20px;
                cursor: pointer;
                &:hover {
                    opacity: .8;
                    transition: all .3s;
                }
            }
        }
    }
}
.package_dialog {
    .package {
        h2 {
            font-size: 14px;
            color: #34BFC6;
            margin: 10px;
            padding-top: 0;
        }
        .pack_list {
            border: 1px solid #34BFC6;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            padding-right: 10px;
            height: 100px;
            margin-bottom: 15px;
            .logo {
                width: 35px;
                background: #34BFC6;
                height: 100%;
                color: #ffffff;
                padding: 30px 10px;
                font-size: 14px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                float: left;
            }
            .imgsrc {
                float: left;
                width: calc(100% - 35px);
                height: 98px;
                img {
                    width: 100%;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;   
                }
            }
            .formList {
                margin-top: 0px !important;
            }
        }
    }
}