.Statistics {
    // width: 1920px;
    // height: 937px;
    width: 100%;
	// height: 100%;
    min-height: 1080px;
    background: url('../../../assets/img/bgC.png');
    background-size: cover;
	transform-origin: left top 0;
    // display: none;
    color: #eeeeee;
    &.Statistics2 {
        background: #0b204f  !important;
        .header {
            width: 100%;
            height: 80px;
            background: url('../../../assets/img/satistics2.png');
            background-size: 100% 100%;
            text-align: center;
            line-height: 80px;
            position: relative;
            p {
                background: linear-gradient(to top, #0eb6fb, #ffffff);
                font-size: 36px;
                -webkit-background-clip: text;
                color: transparent;
            }
            .TimeForm {
                position: absolute;
                top: 0;
                right: 20px;
                line-height: 140px;
                p {
                    font-size: 20px;
                    font-weight: 600;
                    // color: #eeeeee;
                }
            }
        }
        .main_contain  {
            .tab_name {
                border-bottom: 2px solid #0b204f ;
                box-shadow: 0px 0px 10px 10px #3a679e47 inset;
            }
            .col_list {
                margin-top: 15px;
                .echart1 {
                    height: 340px;
                    width: 100%;
                    background-color: rgba(255, 255, 255, .1);
                    box-shadow: 0px 0px 10px 10px #3a679e47 inset;
                }
                .echart2 {
                    height: 340px;
                    width: 100%;
                    background-color: rgba(255, 255, 255, .1);
                    box-shadow: 0px 0px 10px 10px #3a679e47 inset;
                }
                .table_list {
                    box-shadow: 0px 0px 10px 10px #3a679e47 inset;
                }
                .echart3 {
                    box-shadow: 0px 0px 10px 10px #3a679e47 inset;
                }
                .bottom_nav {
                    box-shadow: 0px 0px 10px 10px #3a679e47 inset;
                    .nav {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .header {
        width: 100%;
        height: 90px;
        background: url('../../../assets/img/satistics.png');
        background-size: 100% 100%;
    }
    .main_contain {
        padding: 0 20px;
        height: calc(100% - 90px);
        .tab_name {
            color:#1aefe5;
            font-size: 20px;
            line-height: 45px;
            height: 45px;
            background-color: rgba(255, 255, 255, .1);
            padding-left: 10px;
            i {
                font-size: 20px;
                font-weight: 600;
                margin-right: 5px;
                color: #9fd465;
            }
        }
        .col_list {
            margin-top: 10px;
            .echart1 {
                height: 350px;
                width: 100%;
                background-color: rgba(255, 255, 255, .1);
            }
            .echart2 {
                height: 350px;
                width: 100%;
                background-color: rgba(255, 255, 255, .1);
            }
            .echart3 {
                height: 360px;
                width: 100%;
                background-color: rgba(255, 255, 255, .1);
            }
            .table_list {
                width: 100%;
                padding: 10px;
                background-color: rgba(255, 255, 255, .1);
                height: 360px;
                overflow-y: scroll;
                table {
                    width: 100%;
                    border-collapse: collapse;
                    table-layout: fixed;
                    font-size: 14px;
                    th {
                        // border: 1px solid #cccccc;
                        font-weight: normal;
                        height: 33px;
                        line-height: 33px;
                        background-color: rgba(255, 255, 255, .1) !important;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                    }
                    td {
                        height: 34px;
                        line-height: 34px;
                        text-align: center;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                    }
                    tr {
                        &:hover {
                            background: rgba(255, 255, 255, .05);
                        }
                    }
                    tr:nth-child(2n-1){
                        background-color: rgba(255, 255, 255, .05)
                    }
                }
            }
            .bottom_nav {
                width: 100%;
                height: 100px;
                background-color: rgba(255, 255, 255, .1);
                padding: 10px;
                .nav {    
                    height: 30px;
                    line-height: 30px;
                    .nav_left {
                        // width: 160px;
                        // float: left;
                        text-align: center;
                        font-size: 18px;
                    }
                    .nav_right {
                        // width: 100px;
                        // background: #343861;
                        // float: left;
                        text-align: center;
                        font-size: 26px;
                        color: #fbde0d;
                    }
                }
            }
        }
    }
}